body {
    background-image: url(/JavaShenanigans/RockPaperScissors/RPSImages/Backgroundpicture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px 50px;
    overflow: hidden;
}

h1 {
    color: white;
    font-family: Pixelify Sans;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
    min-width: 1050px;
    cursor: default;
}

p {
    color: white;
    font-family: Pixelify Sans;
    text-align: center;
    cursor: default;
}